body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  background-color: #2c3e50;
  color: #ffffff
}


body {
  font-family: sans-serif;
  font-size: 16px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus { top: 0; }


/* li { display: inline-block; width: 120px; } */

nav {
  display: inline-block;
  width: 80%;
  background-color: #f4f4f4;
  padding: 10px;
}

nav img {
  width: 10%;
}

.grid-container {
  display: grid;
 
  grid-template-columns: 40% 40%;

  justify-content: center;
  align-items: start;
  row-gap: 20px;
  column-gap: 5%;
  margin-top: 20px;
}


.grid-item img {
  width: 100%;
  height: auto;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;             
  justify-content: space-around; 
  padding: 20px;
  background-color: #eee;
}

.flex-item {
  background: white;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 5px;
}